
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Abaout</title>
</head>
<body>
    <div> 
        <h2>Hakkımızda</h2>
        <br />
        @Html.ActionLink("Anasayfa","Home","Default")
    </div>
</body>
</html>
